@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;600&family=Poppins:wght@500&family=Raleway:wght@600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   background-color: whitesmoke;
}
body{
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

.navbar{
    position: relative;
}
logo{
    position: absolute;
    padding: 70px;
    margin-left: 50px;
    color: #000;
}

logo h2{
    color: black;
    font-size: 40px;
    position: absolute;
}

.navbar ul{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 30px;
    float: right;
    margin-right: 230px;
}
.navbar ul li{
    list-style: none;
    margin-right: 20px;
    margin-top: 55px;
}
.navbar ul li a{
    font-size: 20px;
    display: inline-block;
    color:black ;
    font-weight: 600;
    text-decoration: none;
}
.navbar ul li a:hover{
  color: #000;
  font-size: 25px;
}
.content{
    margin-top: 260px;
    margin-left: 120px;
    position: absolute;
}
.content h3{
    font-weight: 800;
}
.content h3 u{
    margin-top: 15px;
    margin-left: 14px;
    font-size: 30px;
    position: absolute;
}
.content h3 li{
    display: inline-block;
    flex-direction: row;
    list-style: none;
}

.content h3 li img{
    width: 40px;
    margin-top: 80px;
    margin-left: 10px;
}

.images{
   display:flex;
   width: 10%;
   height: 60vh;
   border-radius: 50%;
   position: absolute;
   margin-top: 10pc;
   margin-left: 700px;
   max-width: 10%;
 max-height: 100%;
} 
.images img:hover{
    /* animation-name: round;
    animation-duration: 5s infinite; */
    border-radius: 0%;
    animation: infinite round 5s ;
}

@keyframes round {
    from{
        border-radius: 0%;
    }
    to{
        border-radius: 50%;
        border: 1px black solid ;
    }
}
.wrap{
    margin-left: 15px;
}


  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }
  /* [data-aos][data-aos][data-aos-delay="500"].aos-animate, body[data-aos-delay="500"] [data-aos].aos-animate{
      margin-left: 50px;
  } */

  @media screen and (max-width: 450px) {
    .container {
        display: inline-block;
        cursor: pointer;
        margin-left: 270px;
        position: absolute;
        margin-top: 80px;
    }
    
    .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
        color: #000;
    }
    
    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
        transform: rotate(-45deg) translate(-9px, 6px) ;
    }
    
    .change .bar2 {opacity: 0;}
    
    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
        transform: rotate(45deg) translate(-8px, -8px) ;
    }
    
    .navbar ul li{
        display: block;
        z-index: 1;
        text-overflow: ellipsis;
    }
    .mobile{
        display: block;
        background-color: whitesmoke;
        margin-top: 30px;
    }
    .mobile li a{
        color: #fff;
    }
    logo{
        margin-left: -10px;
    }
    .content h3{
        margin-left: -20px;
        margin-top: 160px;
        position: relative;
    }
    .content h3 u{
        position: absolute;
    }
    .images{
        display: block;
    
    }
    .images img{
        height: 10vh;
        margin-left: -555px;
        border-radius: 50%;
        margin-top: 50px;
    }
    .wrap{
        word-break: break-all;
        width: 90%;
        display: block;
        margin-top: 70px;
        margin-left: -10px;
        position: absolute;
        z-index: 2;
    }
    .content h2 p{
        width: 100%;
    }
  }

  @media screen and (max-width: 370px) {
    .mobile li a{
        display: block;
        background-color: whitesmoke;
        margin-right: -28px;
    }
  }
