@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;600&family=Poppins:wght@500&family=Raleway:wght@600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #fff;
    color: #000;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
}

.navbar{
    position: relative;
}
logo{
    position: absolute;
    padding: 70px;
    margin-left: 50px;
}
 .darkmode--activated logo h2{
    color: #fff;
} 
logo h2{
    color: black;
    font-size: 40px;
    margin-top: -46px;
}
logo img{
    margin-left: -60px;
} 

.navbar ul{
    position: relative;
    display: flex;
    flex-direction: row;
    padding: 30px;
    float: right;
    margin-right: 270px;
}
.navbar ul li{
    list-style: none;
    margin-right: 20px;
    margin-top: 55px;
}
.navbar ul li a{
    font-size: 20px;
    display: inline-block;
    color: black;
    font-weight: 6s00;
    text-decoration: none;
}
btn{
    display: flex;
    flex-direction: row;
    float: right;
    margin-right: -700px;
    margin-top: 83px;
}
 .darkmode--activated btn{
    color: white;
} 
.darkmode--activated btn .btn1:hover{
    border:2px white solid ;
} 


btn .btn{
    margin-right: 20px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
btn .btn1{
    margin-top: -13px;
    margin-right: 30px;
    font-weight: 700;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 2px black solid;
    padding: 12px 20px 12px 20px;
    border-radius: 30px;
}
btn .btn1:hover{
    background-color: black;
    color: #fff;
}

.content{
    position: absolute;
    margin-top: 90px;
    padding: 140px;
}
.content h1{
    font-size: 6.2em;
}

 .darkmode--activated .content h1{
    isolation: isolate;
    color: #fff;
}
.content h3{
    display: flex;
    align-items: center;
    justify-content: start;
    color: rgb(119, 111, 111);
}
.content img{
    position: absolute;
    display: flex;
    margin-top: -11pc;
}
.btn3{
    margin-top: 25px;
    border: 2px rgb(113, 205, 236) solid;
    border-radius: 30px;
    margin-right: 400px;
    padding: 13px;
    color: rgb(113, 205, 236);
    font-weight: 700;
}

.image{
    position: absolute;
}
.image img{
    margin-left: 700px;
    margin-top: 60px;
    animation: play 2s linear infinite;
}
@keyframes play {
    0%{
        margin-top: 150px;
    }
    50%{
        margin-top: 160px;
    }
    100%{
        margin-top: 173px;
    }
}


canvas { position: fixed; touch-action: none; opacity: 0.2; margin-left: -280px;}
